PORT={{ backend_port }}
BACKEND_API_KEY={{ backend_api_key }}
ALLOWED_CONTAINERS={{ allowed_containers }}
AZURE_STORAGE_CONNECTION_STRING={{ azure_storage_connection_string }}
AZURE_STORAGE_ACCOUNT_NAME={{ azure_storage_account_name }}
AZURE_STORAGE_ACCOUNT_KEY={{ azure_storage_account_key }}
